<admin-header></admin-header>

<button title="Update the list" mat-icon-button (click)="getUsers()">
    <mat-icon>sync</mat-icon>
</button>

<div *ngFor="let user of (stateSS.users$ | async)">
    <div [ngClass]="{'recruiter-background': user?.role === 'recruiter', 'worker-background': user?.role === 'worker'}">
        <p>Role: <span >{{ user.role }}</span></p>
        <p *ngIf="(stateSS.session$ | async)?.user?.role === 'admin'">
            Active:
            <span *ngIf="user.active" style="background-color: palegreen;">{{ user.active }}</span>
        </p>
        <p *ngIf="(stateSS.session$ | async)?.user?.role === 'admin'">Email: <span >{{ user.email }}</span></p>
        <!-- <p>Contact Data: <span >{{ user.contactData }}</span></p> -->
        <p *ngIf="user?.role === 'worker'">Name: <span >{{ user.name }}</span></p>
        <p *ngIf="user?.role === 'recruiter'">Recruiter name: <span >{{ user.recruiterName }}</span></p>
        <p *ngIf="user?.role === 'recruiter'">Description corporate: <span >{{ user.descriptionCorporate }}</span></p>
        <p *ngIf="user?.role === 'recruiter'">International: <span >{{ user.international }}</span></p>
        <p *ngIf="user?.role === 'recruiter'">Corporation name: <span >{{ user.corporationName }}</span></p>
        <p>Creation date: <span >{{ user.creationDate | date }}</span></p>

        
        <button mat-raised-button *ngIf="user?.role === 'worker' && (stateSS.session$ | async)?.user?.role === 'recruiter'" routerLink="/board/new-offer/{{user._id}}">
            Make an offer
        </button>

        <button mat-raised-button  *ngIf="user?.role === 'worker' && !((stateSS.session$ | async)?.token !== '')" routerLink="/session/login">
            Make an offer
        </button>
        
        <button mat-raised-button (click)="deleteUser(user)" *ngIf="
            !((stateSS.session$ | async)?.token === '') &&
            (stateSS.session$ | async)?.user?._id === user._id ||
            (stateSS.session$ | async)?.user?.role === 'admin'
        ">
            X
        </button>
        <!-- <button mat-raised-button (click)="editUser(user)">
        Edit
        </button>
        <app-edit-user></app-edit-user> -->
    </div><br>
</div><br><br>