<div class="app-user">

  <button title="Update the list" mat-icon-button (click)="getUsers()">
      <mat-icon>sync</mat-icon>
  </button>
  
  <div *ngFor="let user of (stateSS.users$ | async)">
      <div [ngClass]="{'recruiter-background': user?.role === 'recruiter', 'worker-background': user?.role === 'worker'}">
            <p>Username: @<span>{{ user.email }}</span><img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 5px; height: 20px; width: 20px" *ngIf="user?.verified!"></p>
            <p>Role: <span >{{ user.role }}</span></p>
            <!-- <p>Contact Data: <span >{{ user.contactData }}</span></p> -->
            <p *ngIf="user?.role === 'worker'">Pseudonym: <span >{{ user.name }}</span></p>
            <p *ngIf="user?.role === 'recruiter'">Pseudonym: <span >{{ user.recruiterName }}</span></p>
            
            <button mat-raised-button *ngIf="user?.role === 'worker' && (stateSS.session$ | async)?.user?.role === 'recruiter'" routerLink="/offers/new-offer/{{user._id}}">
                Make an offer
            </button>

            <button mat-raised-button  *ngIf="user?.role === 'worker' && !((stateSS.session$ | async)?.token !== '')" routerLink="/session/login">
                Make an offer
            </button>

            <button mat-button [matMenuTriggerFor]="menuDelete" *ngIf="
                !((stateSS.session$ | async)?.token === '') &&
                (stateSS.session$ | async)?.user?._id === user._id ||
                (stateSS.session$ | async)?.user?.role === 'admin'"
            >
                Delete account
            </button>
            <mat-menu #menuDelete="matMenu">
                <button mat-raised-button color="warn" title="Delete account" (click)="deleteUser(user)">
                    Delete account
                </button>
            </mat-menu>

            <button mat-raised-button routerLink="/users/user-detail/{{user._id}}">
                Detail
            </button>

            <button mat-raised-button title="Verified account" (click)="verifiedUser(user)" *ngIf="
                (stateSS.session$ | async)?.user?.role === 'admin' &&
                !user.verified
            ">
                Verified account
            </button>

            <button mat-raised-button title="Verified account" (click)="verifiedUser(user)" *ngIf="
                (stateSS.session$ | async)?.user?.role === 'admin' &&
                user.verified
            ">
                Unverified account
            </button>
      </div><br>
  </div>
</div>
