<div class="app-user">

  <button title="Update the list" mat-icon-button (click)="getUsers()">
      <mat-icon>sync</mat-icon>
  </button>
  
  <div *ngFor="let user of (stateSS.users$ | async)">
        <mat-card [ngClass]="{'recruiter-background': user?.role === 'recruiter', 'worker-background': user?.role === 'worker'}" class="user">
            <mat-card-content>
                <p>Username: @<span>{{ user.email }}</span><img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 5px; height: 20px; width: 20px" *ngIf="user?.verified!"></p>
                <!-- <p>Contact Data: <span >{{ user.contactData }}</span></p> -->
                <p *ngIf="user?.role === 'worker'">Pseudonym: <span >{{ user.name }}</span></p>
                <p *ngIf="user?.role === 'recruiter'">Pseudonym: <span >{{ user.recruiterName }}</span></p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button *ngIf="user?.role === 'worker'" routerLink="/offers/new-offer/{{user._id}}">
                    Make an offer
                </button>

                <button mat-button [matMenuTriggerFor]="menuDelete" *ngIf="
                    !((stateSS.session$ | async)?.token === '') &&
                    (stateSS.session$ | async)?.user?._id === user._id ||
                    (stateSS.session$ | async)?.user?.role === 'admin'"
                >
                    Delete account
                </button>
                <mat-menu #menuDelete="matMenu" yPosition="above">
                    <button mat-button color="warn" title="Delete account" (click)="deleteUser(user)">
                        Delete account
                    </button>
                </mat-menu>

                <button mat-button routerLink="/users/user-detail/{{user._id}}">
                    Detail
                </button>

                <button mat-button title="Verified account" (click)="verifiedUser(user)" *ngIf="
                    (stateSS.session$ | async)?.user?.role === 'admin' &&
                    !user.verified
                ">
                    Verified account
                </button>

                <button mat-button title="Verified account" (click)="verifiedUser(user)" *ngIf="
                    (stateSS.session$ | async)?.user?.role === 'admin' &&
                    user.verified
                ">
                    Unverified account
                </button>
            </mat-card-actions>
        </mat-card><br>
  </div>
</div>
