<p>wall works!</p>

<button routerLink="/session/login">
    login
</button>

<div *ngFor="let user of userStoreService.user; trackBy: getIdTrackFn">
  <p>{{ user.email }}</p>
  <p>{{ user.role }}</p>
  <p>{{ user.state }}</p>
  <p>{{ user.creationDate }}</p>
  <button (click)="removeUser(user)">
    XX
  </button>
</div>

Loged as: {{ sessionStoreService.stateDetail.session.user.email }}
Loged as: {{ sessionStoreService.session.user.email }}

<div *ngFor="let user of userStoreService.stateDetail.user; trackBy: getIdTrackFn">
  <p>{{ user.email }}</p>
  <button (click)="removeUser(user)">
    X
  </button>
</div>

<div *ngFor="let user of userStoreService.state.user; trackBy: getIdTrackFn">
  <p>{{ user.email }}</p>
  <button (click)="removeUser(user)">
    XXX
  </button>
</div>

<button (click)="apiUser()">
  force reload
</button>