<wall-header></wall-header>

<button (click)="getOffers()">
    getOffers()
</button>

&nbsp;<a routerLink="/wall/new-offer" *ngIf="(stateSS.session$ | async)?.user?.role === 'recruiter'">New offer</a>

<div *ngFor="let offer of stateSS.offers$ | async; trackBy: getIdTrackFn">
    <div style="background-color: blanchedalmond;">
        <p>status: <span style="background-color: aquamarine">{{ offer.status }}</span></p>
        <p>abandoned: <span style="background-color: aquamarine">{{ offer.abandoned }}</span></p>
        <p>title: <span style="background-color: aquamarine">{{ offer.title }}</span></p>
        <p>workplaceAddress: <span style="background-color: aquamarine">{{ offer.workplaceAddress }}</span></p>
        <p>requirements: <span style="background-color: aquamarine">{{ offer.requirements }}</span></p>
        <p>Worker name: <span style="background-color: aquamarine">{{ offer.worker?.name }}</span></p>
        <p>Worker role: <span style="background-color: aquamarine">{{ offer.worker?.role }}</span></p>
        <p>Worker creationDate: <span style="background-color: aquamarine">{{ offer.worker?.creationDate }}</span></p>
        <p>Recruiter name: <span style="background-color: aquamarine">{{ offer.recruiter?.recruiterName }}</span></p>
        <p>Recruiter role: <span style="background-color: aquamarine">{{ offer.recruiter?.role }}</span></p>
        <p>Recruiter creationDate: <span style="background-color: aquamarine">{{ offer.recruiter?.creationDate }}</span></p>
        <p>corporationName: <span style="background-color: aquamarine">{{ offer.recruiter?.corporationName }}</span></p>
        <p>descriptionCorporate: <span style="background-color: aquamarine">{{ offer.recruiter?.descriptionCorporate }}</span></p>
        <p>international: <span style="background-color: aquamarine">{{ offer.recruiter?.international }}</span></p>
        <p>Salary: <span style="background-color: aquamarine">{{ offer.salary }}</span></p>
        <p>Date: <span style="background-color: aquamarine">{{ offer.creationDate }}</span></p>
        <p>Description: <span style="background-color: aquamarine">{{ offer.description }}</span></p>
    </div>
</div>

<div>
    <p>Offers:</p>
    <pre>
        {{ stateSS.offers$ | async | json }}
    </pre>
</div>