<article>
  <div>
    <header>
      <h1>About this project</h1>
    </header>
  </div>
  <hr>
<!--   
    <div>
        <h2></h2>
        <ol>
            <li>
                <h3><strong></strong></h3> -->
                <p>
                  This is a project made and deployed by <a href="/users">{{ names[0] }}</a> and <a href="/users">{{ names[1] }}</a>, in order to add precision and agility to their hiring process work and that of their friends. Nonprofit.
                <p>
                  It is made with Node Express, Mongodb and Angular. Deployed in nginx on Linux.
                </p>
                <p>
                  Version control has been done with git and project management with gitlab.
                </p>
</article>
