<div class="app-summary">
    <article>
        <div>
            <header>
                <h1>About the Project</h1>
            </header>
        </div>
        <hr>
        <h2>Description</h2>
        <p>
            Onework is a project made and deployed by <a routerLink="/users">{{ names[0] }}</a> and <a routerLink="/users">{{ names[1] }}</a>, in order to add precision and agility to their hiring process work and that of their friends. Nonprofit.
        <p>
            It is made with Node Express, Mongodb and Angular. Deployed in nginx on Linux.
        </p>
        <p>
            Version control has been done with git and project management with gitlab.
        </p>
        <p>
            The server is programmed to save energy by automatically turning itself off at night. Sorry for the inconvenience.
        </p>
        <h2>Components used in the assembly of this server</h2>
        <p>
            Processor: AMD Ryzen 5 1600 Stepping AF 3.6GHz
        </p>
        <p>
            Storage: WD Green 3D SSD 120GB SATA3
        </p>
        <p>
            Memory (x2): Corsair Value Select DDR4 2133 PC4-17000 8GB CL15
        </p>
        <p>
            Motherboard: MSI A320M-A PRO
        </p>
        <p>
            Graphics: Zotac GeForce GT710 1GB GDDR3
        </p>
        <p>
            Case: Tacens Anima AC016 USB 3.0
        </p>
        <p>
            Extra fan: Tacens Aura II 80x80
        </p>
        <p>
            PSU: Corsair VS450 450W 80 Plus
        </p>
        <p>
            Tools: Crimper
        </p>
        <p>
            Tools: UTP CAT6 cable
        </p>
        <p>
            Tools: UTP Cat.6 RJ45 conector
        </p><br>
        <p>
            Thanks for the interest.
        </p>
        <p class="bottomLink">
            Publication date Tue 7 Jun 2022
        </p>
        <p class="bottomLink">
            Last updated Tue 7 Jun 2022
        </p>
    </article>
</div>
