$tool-bar-heigth: 64px; // TODO: llevar a variables globales
$app-padding: 12px;

.app-summary {
  padding-bottom: $tool-bar-heigth;
}

.bottomLink {
  padding-top: 23px;
  opacity: 0.6;
  text-align: right;
}