<div class="app-summary">
    <article>
        <div>
            <header>
                <h1>About the Project</h1>
            </header>
        </div>
        <hr>
        <p>
            Onework is a project made and deployed by <a href="/users">{{ names[0] }}</a> and <a href="/users">{{ names[1] }}</a>, in order to add precision and agility to their hiring process work and that of their friends. Nonprofit.
        <p>
            It is made with Node Express, Mongodb and Angular. Deployed in nginx on Linux.
        </p>
        <p>
            Version control has been done with git and project management with gitlab.
        </p>
        <p>
            The server is programmed to save energy by automatically turning itself off at night. Sorry for the inconvenience.
        </p>
        <p>
            Thanks for the interest.
        </p>
        <p class="bottomLink">
            Last updated Fri 3 Jun 2022
        </p>
    </article>
</div>
