<header>
    <mat-progress-bar *ngIf="(stateSS.userInterface$ | async)?.showLoader" mode="indeterminate"></mat-progress-bar>
    <mat-toolbar>
        <button mat-icon-button class="icon" (click)="sidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
    
        <span mat-menu-item routerLink="/">Onework</span>
    
        <span class="spacer"></span>
    
        <button title="Print app state in console" mat-icon-button (click)="printState()" *ngIf="(stateSS.userInterface$ | async)?.showDevTools">
            <mat-icon>remove_red_eye</mat-icon>
        </button>
    
        <button title="Print app state in console" mat-icon-button (click)="fakeLogin()" *ngIf="(stateSS.userInterface$ | async)?.showDevTools">
            <mat-icon>perm_contact_calendar</mat-icon>
        </button>
    
        <button title="Clean app state" mat-icon-button (click)="bin()" *ngIf="(stateSS.userInterface$ | async)?.showDevTools">
            <mat-icon>restore_from_trash</mat-icon>
        </button>
        
        <span class="spacer"></span>
    
        <button [ngClass]="{'user-loged': !((stateSS.session$ | async)?.token === '')}" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
    
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/session/profile" *ngIf="!((stateSS.session$ | async)?.token === '')">
                <mat-icon>person</mat-icon>
                <span>@{{ (stateSS.session$ | async)?.user?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 5px; height: 20px; width: 20px" *ngIf="(stateSS.session$ | async)?.user?.verified!"></span>
            </button>
    
            <mat-divider *ngIf="!((stateSS.session$ | async)?.token === '')"></mat-divider>
    
            <button mat-menu-item routerLink="/session/login" *ngIf="!(stateSS.session$ | async)?.token">
                <mat-icon>input</mat-icon>
                <span>Login</span>
            </button>
    
            <button mat-menu-item routerLink="/session/register" *ngIf="!(stateSS.session$ | async)?.token">
                <mat-icon>add_circle</mat-icon>
                <span>Sign up</span>
            </button>
    
            <mat-divider *ngIf="!((stateSS.session$ | async)?.token === '')"></mat-divider>
            
            <button mat-menu-item routerLink="/session/change-username" *ngIf="(stateSS.session$ | async)?.token">
                <mat-icon>fingerprint</mat-icon>
                <span>Change username</span>
            </button>
    
            <button mat-menu-item routerLink="/session/change-password" *ngIf="(stateSS.session$ | async)?.token">
                <mat-icon>vpn_key</mat-icon>
                <span>Change password</span>
            </button>
    
            <button mat-menu-item routerLink="/session/login" *ngIf="(stateSS.session$ | async)?.token" (click)="sessionSS.logout()">
                <!-- // TODO: hacer llamada logout en sessionStoreService -->
                <mat-icon>launch</mat-icon>
                <span>Logout</span>
            </button>
    
            <button mat-menu-item (click)="this.stateSS.userInterface.showDevTools = !this.stateSS.userInterface.showDevTools!">
                <mat-icon>devices</mat-icon>
                <span>Dev tools</span>
            </button>
        </mat-menu>
    </mat-toolbar>
</header>