<board-header></board-header>

<form [formGroup]="reactiveForm" (ngSubmit)="submitForm()" novalidate>

    <label>
        <p>salary</p>
        <input type="number" placeholder="Offer salary" formControlName="salary">
    </label><br>
    
    <label>
        <p>title</p>
        <textarea placeholder="Offer title" formControlName="title" rows="1"></textarea>
    </label><br>
    
    <label>
        <p>requirements</p>
        <textarea placeholder="Offer requirements" formControlName="requirements" rows="8"></textarea>
    </label><br>
  
    <label>
        <span>abandoned</span>
        <input type="checkbox" formControlName="abandoned"><br>
    </label>
  
    <label>
        <span>technicianChecked</span>
        <input type="checkbox" formControlName="technicianChecked"><br>
    </label>
    
    <label>
        <p>workplaceAddress</p>
        <textarea placeholder="Offer workplaceAddress" formControlName="workplaceAddress" rows="2"></textarea>
    </label><br>

    <label>
        <p>videoCallLink</p>
        <textarea placeholder="Offer videoCallLink" formControlName="videoCallLink" rows="1"></textarea>
    </label><br>
    
    <label>
        <p>description</p>
        <textarea placeholder="Offer description" formControlName="description" rows="8"></textarea>
    </label><br>

    <mat-form-field appearance="fill">
        <mat-label>Worker</mat-label>
        <mat-select formControlName="workerAssignedId">
            <mat-option [value]="worker._id" *ngFor="let worker of (stateSS.workers$ | async); trackBy: getIdTrackFn" class="example-header-image">
                {{ worker.name }}
            </mat-option>
        </mat-select>
    </mat-form-field><br>
  
    <button mat-raised-button color="secondary" type="submit">
        Update
    </button>
</form>
