<div class="app-user">

  <button title="Update the list" mat-icon-button (click)="getUsers()">
      <mat-icon>sync</mat-icon>
  </button>
  
  <div *ngFor="let user of (stateSS.users$ | async)">
      <div [ngClass]="{'recruiter-background': user?.role === 'recruiter', 'worker-background': user?.role === 'worker'}">
          <p *ngIf="user?.role === 'recruiter'">Username: @<span>{{ user.email }}</span><img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 5px; height: 20px; width: 20px" *ngIf="user?.verified!"></p>
          <p>Role: <span >{{ user.role }}</span></p>
          <!-- <p>Contact Data: <span >{{ user.contactData }}</span></p> -->
          <p *ngIf="user?.role === 'worker'">Pseudonym: <span >{{ user.name }}</span></p>
          <p *ngIf="user?.role === 'recruiter'">Pseudonym: <span >{{ user.recruiterName }}</span></p>
          <p *ngIf="user?.role === 'recruiter'">Description corporate: <span >{{ user.descriptionCorporate }}</span></p>
          <p *ngIf="user?.role === 'recruiter'">International: <span >{{ user.international }}</span></p>
          <p *ngIf="user?.role === 'recruiter'">Corporation name: <span >{{ user.corporationName }}</span></p>
          <p>Creation date: <span >{{ user.creationDate | date }}</span></p>
          
          <button mat-raised-button *ngIf="user?.role === 'worker' && (stateSS.session$ | async)?.user?.role === 'recruiter'" routerLink="/board/new-offer/{{user._id}}">
              Make an offer
          </button>
  
          <button mat-raised-button  *ngIf="user?.role === 'worker' && !((stateSS.session$ | async)?.token !== '')" routerLink="/session/login">
              Make an offer
          </button>
          
          <button mat-raised-button title="Delete account" (click)="deleteUser(user)" *ngIf="
              (stateSS.session$ | async)?.user?.role === 'admin'
          ">
            Delete account
          </button>
          <button mat-raised-button routerLink="/users/edit-user/{{user._id}}">
            Detail
          </button>
      </div><br>
  </div>
</div>
