$tool-bar-heigth: 64px;
$app-padding: 12px;

.spacer {
  flex: 1 1 auto;
}

.backlog, .ready, .in-progress, .video-set, .technician-checked, .acepted  {
  padding: $app-padding;
}

.acepted {
  grid-area: acepted;
}
.technician-checked {
  grid-area: technician-checked;
}
.video-set {
  grid-area: video-set;
}
.ready {
  grid-area: ready;
}
.in-progress {
  grid-area: in-progress;
}
.backlog {
  grid-area: backlog;
}

.colum {
  height: calc(100vh - #{$tool-bar-heigth} - 48px);
}

.colum-header {
  mat-toolbar {
    border-radius: 15px 15px 0 0;
  }
}

.colum-body {
  height: calc(100vh - #{$tool-bar-heigth} - 136px);
  overflow-y: scroll;
  padding: $app-padding;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

.columns-container {
  padding: $app-padding;
  display: grid;
  grid-template-columns: minmax(320px, 550px) minmax(320px, 550px) minmax(320px, 550px) minmax(320px, 550px) minmax(320px, 550px) minmax(320px, 550px); 
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "backlog ready in-progress video-set technician-checked acepted";
}