<board-header></board-header>

<main>
    <div class="list-grid" cdkDropListGroup>
        <div class="list accepted">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>Accepted</span>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="accepted"
                #acceptedList="cdkDropList"
                [cdkDropListData]="acceptedList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of acceptedList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list technician-checked">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>Technician checked</span>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="technicianChecked"
                #technicianCheckedList="cdkDropList"
                [cdkDropListData]="technicianCheckedList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of technicianCheckedList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="list video-set">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>Video set</span>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="videoSet"
                #videoSetList="cdkDropList"
                [cdkDropListData]="videoSetList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of videoSetList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list in-progress">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>In Progress</span>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="inProgress"
                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgressList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of inProgressList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list ready">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>Ready</span>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="ready"
                #readyList="cdkDropList"
                [cdkDropListData]="readyList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of readyList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    
        <div class="list backlog">
            <div class="list-header">
                <mat-toolbar>
                    <span mat-menu-item>Backlog</span>
            
                    <span class="spacer"></span>
            
                    <button mat-icon-button (click)="getOffers()">
                        <mat-icon>sync</mat-icon>
                    </button>
            
                    <button mat-icon-button routerLink="/board/new-offer" *ngIf="(stateSS.session$ | async)?.user?.role === 'recruiter'">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    
                    <button mat-icon-button routerLink="/session" *ngIf="!((stateSS.session$ | async)?.token !== '')">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="backlog"
                #backlogList="cdkDropList"
                [cdkDropListData]="backlogList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of backlogList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>{{ offer.salary }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{ offer.description }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>LIKE</button>
                            <button mat-button>SHARE</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</main>



<!-- <div *ngFor="let offer of stateSS.offers$ | async; trackBy: getIdTrackFn">

    <div style="background-color: blanchedalmond;">
        <p>status: <span style="background-color: aquamarine">{{ offer.status }}</span></p>
        <p>abandoned: <span style="background-color: aquamarine">{{ offer.abandoned }}</span></p>
        <p>title: <span style="background-color: aquamarine">{{ offer.title }}</span></p>
        <p>workplaceAddress: <span style="background-color: aquamarine">{{ offer.workplaceAddress }}</span></p>
        <p>requirements: <span style="background-color: aquamarine">{{ offer.requirements }}</span></p>
        <p>Worker name: <span style="background-color: aquamarine">{{ offer.worker?.name }}</span></p>
        <p>Worker role: <span style="background-color: aquamarine">{{ offer.worker?.role }}</span></p>
        <p>Worker creationDate: <span style="background-color: aquamarine">{{ offer.worker?.creationDate }}</span></p>
        <p>Recruiter name: <span style="background-color: aquamarine">{{ offer.recruiter?.recruiterName }}</span></p>
        <p>Recruiter role: <span style="background-color: aquamarine">{{ offer.recruiter?.role }}</span></p>
        <p>Recruiter creationDate: <span style="background-color: aquamarine">{{ offer.recruiter?.creationDate }}</span></p>
        <p>corporationName: <span style="background-color: aquamarine">{{ offer.recruiter?.corporationName }}</span></p>
        <p>descriptionCorporate: <span style="background-color: aquamarine">{{ offer.recruiter?.descriptionCorporate }}</span></p>
        <p>international: <span style="background-color: aquamarine">{{ offer.recruiter?.international }}</span></p>
        <p>Salary: <span style="background-color: aquamarine">{{ offer.salary }}</span></p>
        <p>Date: <span style="background-color: aquamarine">{{ offer.creationDate }}</span></p>
        <p>Description: <span style="background-color: aquamarine">{{ offer.description }}</span></p>
    </div>
</div> -->

<!-- <p>Offers:</p>
<pre>
    {{ stateSS.offers$ | async | json }}
</pre> -->