<offer-header></offer-header>

<form [formGroup]="reactiveForm" (ngSubmit)="submitForm()" novalidate>

    <label>
        <p>Creation date: {{offer.creationDate | date}}</p>
    </label><br>

    <label>
        <p>Salary: </p>
        <input type="number" placeholder="Offer salary" formControlName="salary">
    </label><br>
    
    <label>
        <p>Title: </p>
        <textarea placeholder="Offer title" formControlName="title" rows="1"></textarea>
    </label><br>
    
    <label>
        <p>Requirements: </p>
        <textarea placeholder="Offer requirements" formControlName="requirements" rows="4"></textarea>
    </label><br>
  
    <label>
        <span>Technical interview conducted: </span>
        <input type="checkbox" formControlName="technicianChecked"><br>
    </label>
    
    <label>
        <p>Workplace address: </p>
        <textarea placeholder="Offer workplaceAddress" formControlName="workplaceAddress" rows="2"></textarea>
    </label><br>

    <label>
        <p>Videocall link: </p>
        <input type="text" placeholder="Offer videoCallLink" formControlName="videoCallLink">
    </label><br>

    <label>
        <p>Job offer link: </p>
        <input type="text" placeholder="Offer offerLink" formControlName="offerLink">
    </label><br>
    
    <mat-datepicker #picker></mat-datepicker>
    <mat-label>Videocall date: </mat-label>
    <input matInput [matDatepicker]="picker" formControlName="videoCallDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    
    <mat-label>at: </mat-label>
     {{ offer.videoCallDate | date:'HH:mm' }} or: 
    <input type="time" formControlName="videoCallHour" matInput><br>

    <label>
        <p>Description: </p>
        <textarea placeholder="Offer description" formControlName="description" rows="4"></textarea>
    </label><br>

    <mat-form-field appearance="fill">
        <mat-label>Worker</mat-label>
        <mat-select formControlName="workerAssignedId">
            <mat-option [value]="worker._id" *ngFor="let worker of (stateSS.workers$ | async); trackBy: getIdTrackFn" class="example-header-image">
                {{ worker.name }}
            </mat-option>
        </mat-select>
    </mat-form-field><br>
  
    <button *ngIf="((stateSS.session$ | async)?.token !== '')" mat-raised-button color="secondary" type="submit">
        Update
    </button><br><br><br>
</form>
