<header>
    <a routerLink="/session/login">login</a>&nbsp;
    <a routerLink="/session/register">register</a>&nbsp;
    <span *ngIf="(stateSS.state$ | async)?.session?.token"><a routerLink="/session/profile">profile</a>&nbsp;</span>
    <span *ngIf="(stateSS.state$ | async)?.session?.token"><a routerLink="/session/change-password" *ngIf="(stateSS.state$ | async)?.session?.token">change-password</a>&nbsp;</span>
    <span *ngIf="(stateSS.state$ | async)?.session?.token"><a routerLink="/session/change-email" *ngIf="(stateSS.state$ | async)?.session?.token">change-email</a>&nbsp;</span>
    <a routerLink="/wall">wall</a>&nbsp;
    <a routerLink="/admin">admin</a>&nbsp;
    <p *ngIf="!((stateSS.state$ | async)?.session?.token === '')">
        user session: {{ (stateSS.state$ | async)?.session?.user?.email }}
    </p>    
</header>