<div class="app-main">
  <article>
      <div>
          <header>
              <h1>General terms and conditions</h1>
          </header>
      </div>
  
      <hr>
      
      <div>
          <h2>Legal warning</h2>
          <ol>
              <li>
                  <h3><strong>Ownership</strong></h3>
                  <p>The website {{ hostname }} (ereinafter, the "Portal") belongs a {{ owner }}.</p>
                  <p>You can contact the owner of the page by the following email address <a [href]="'mailto:' + ownerMail">{{ ownerMail }}</a>.</p>
              <li>
                  <h3><strong>Purpose</strong></h3>
              </li>
              <li>
                  <h3><strong>Intellectual and industrial property</strong></h3>
              </li>
              <li>
                  <h3><strong>Exclusion of guarantees. Responsibility</strong></h3>
              <li>
                  <h3><strong>Duration</strong></h3>
              </li>
              <li>
                  <h3><strong>Law and Jurisdiction</strong></h3><h3>
              </h3></li>
              <li>
                  <h3><strong>Contact us</strong></h3>
              </li>
          </ol>
      </div>
  </article>
</div>
