$tool-bar-heigth: 64px;

mat-toolbar {
  height: $tool-bar-heigth;

  .spacer {
    flex: 1 1 auto;
  }
}

.sidenav-container {
  height: calc(100vh - #{$tool-bar-heigth})
}

.sidenav {
  padding: 12px;
}

.sidenav-content {
  height: 100%;
}