<mat-toolbar>
    <button mat-icon-button class="icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>OneWork</span>
    <span class="spacer"></span>
    <button mat-raised-button (click)="printState()" *ngIf="!env.production">
        👁 State
    </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" [hasBackdrop]="smallScreen" autosize>
    <mat-drawer #drawer class="sidenav" [mode]="smallScreen? 'over' : 'side'" [opened]="!smallScreen">
        <div *ngIf="smallScreen; else buttonsWithoutToggleMenu" (click)="drawer.toggle()">
            <p><button mat-raised-button routerLink="/session" *ngIf="!(stateSS.session$ | async)?.token">Login</button></p>
            <p><button mat-raised-button routerLink="/session/register" *ngIf="!(stateSS.session$ | async)?.token">Register</button></p>
            <p><button mat-raised-button routerLink="/session/profile" *ngIf="(stateSS.session$ | async)?.token">profile</button></p>
            <p><button mat-raised-button routerLink="/session/change-password" *ngIf="(stateSS.session$ | async)?.token">change password</button></p>
            <p><button mat-raised-button routerLink="/session/change-email" *ngIf="(stateSS.session$ | async)?.token">change email</button></p>
            <p><button mat-raised-button routerLink="/wall">Wall</button></p>
            <p><button mat-raised-button routerLink="/admin" [disabled]="(stateSS.session$ | async)?.user?.role !== 'admin'">Admin</button></p>
        </div>
            
        <ng-template #buttonsWithoutToggleMenu>
            <p><button mat-raised-button routerLink="/session" *ngIf="!(stateSS.session$ | async)?.token">Login</button></p>
            <p><button mat-raised-button routerLink="/session/register" *ngIf="!(stateSS.session$ | async)?.token">Register</button></p>
            <p><button mat-raised-button routerLink="/session/profile" *ngIf="(stateSS.session$ | async)?.token">profile</button></p>
            <p><button mat-raised-button routerLink="/session/change-password" *ngIf="(stateSS.session$ | async)?.token">change password</button></p>
            <p><button mat-raised-button routerLink="/session/change-email" *ngIf="(stateSS.session$ | async)?.token">change email</button></p>
            <p><button mat-raised-button routerLink="/wall">Wall</button></p>
            <p><button mat-raised-button routerLink="/admin">Admin</button></p>
        </ng-template>
    </mat-drawer>
  
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>