<user-header></user-header>

<form [formGroup]="reactiveForm" (ngSubmit)="submitForm()" novalidate>

    <p>Creation date: <span >{{ user?.creationDate | date }}</span></p>
    <p>Role: <span >{{ user?.role }}</span></p>

    <label>
        <span>Username: </span>
        <input type="text" placeholder="Your username" formControlName="email"><img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 5px; height: 20px; width: 20px" *ngIf="user?.verified!">
    </label><br>

    <label *ngIf="user?.role === 'worker'">
        <span>Pseudonym: </span>
        <input type="text" placeholder="Your name" formControlName="name"><br>
    </label>

    <label *ngIf="user?.role === 'worker'">
        <span>Skills: </span>
        <textarea placeholder="Your skills" formControlName="skills" rows="2"></textarea>
    </label>
  
    <label *ngIf="user?.role === 'recruiter'">
        <span>Pseudonym: </span>
        <input type="text" placeholder="Your name" formControlName="recruiterName"><br>
    </label>
  
    <label *ngIf="user?.role === 'recruiter'">
        <span>Corporation name: </span>
        <input type="text" placeholder="Your corporation name" formControlName="corporationName"><br>
    </label>

    <label *ngIf="user?.role === 'recruiter'">
        <span>Description corporate: </span><br>
        <textarea placeholder="Your description corporate" formControlName="descriptionCorporate" rows="2"></textarea>
    </label><br>
  
    <label *ngIf="user?.role === 'recruiter'">
        <span>Is international: </span>
        <input type="checkbox" formControlName="international"><br>
    </label>
  
    <button mat-raised-button *ngIf="(stateSS.session$ | async)?.user?.role === 'admin'" color="secondary" type="submit">
        Update
    </button>
</form>
  
<a *ngIf="user?.role === 'worker'" routerLink="/offers/new-offer/{{user?._id}}">
    Make an offer
</a><br><br>