<offer-header></offer-header>

<main>
    <div class="list-grid" cdkDropListGroup>
        <div class="list accepted">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip selected>Accepted</mat-chip>
                        <mat-chip-avatar>
                            {{ (acceptedList$ | async)?.length }}
                        </mat-chip-avatar>
                    </mat-chip-list>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="accepted"
                #acceptedList="cdkDropList"
                [cdkDropListData]="acceptedList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of acceptedList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Videocall date: {{ offer.videoCallDate | date }}
                                at {{ offer.videoCallDate | date:'HH:mm' }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list technician-checked">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip selected>Technician checked</mat-chip>
                        <mat-chip-avatar>
                            {{ (technicianCheckedList$ | async)?.length }}
                        </mat-chip-avatar>
                    </mat-chip-list>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="technicianChecked"
                #technicianCheckedList="cdkDropList"
                [cdkDropListData]="technicianCheckedList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of technicianCheckedList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Videocall date: {{ offer.videoCallDate | date }}
                                at {{ offer.videoCallDate | date:'HH:mm' }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="list video-set">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip selected>Video set</mat-chip>
                        <mat-chip-avatar>
                            {{ (videoSetList$ | async)?.length }}
                        </mat-chip-avatar>
                    </mat-chip-list>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="videoSet"
                #videoSetList="cdkDropList"
                [cdkDropListData]="videoSetList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of videoSetList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Videocall date: {{ offer.videoCallDate | date }}
                                at {{ offer.videoCallDate | date:'HH:mm' }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list in-progress">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip selected>In Progress</mat-chip>
                        <mat-chip-avatar>
                            {{ (inProgressList$ | async)?.length }}
                        </mat-chip-avatar>
                    </mat-chip-list>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="inProgress"
                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgressList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of inProgressList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Videocall date: {{ offer.videoCallDate | date }}
                                at {{ offer.videoCallDate | date:'HH:mm' }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        
        <div class="list ready">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip selected>Ready</mat-chip>
                        <mat-chip-avatar>
                            {{ (readyList$ | async)?.length }}
                        </mat-chip-avatar>
                      </mat-chip-list>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="ready"
                #readyList="cdkDropList"
                [cdkDropListData]="readyList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of readyList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Videocall date: {{ offer.videoCallDate | date }}
                                at {{ offer.videoCallDate | date:'HH:mm' }}
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    
        <div class="list backlog">
            <div class="list-header">
                <mat-toolbar>
                    <mat-chip-list>
                        <mat-chip>Backlog</mat-chip>
                        <mat-chip-avatar>
                            {{ (backlogList$ | async)?.length }}
                        </mat-chip-avatar>
                    </mat-chip-list>            
                    <span class="spacer"></span>
            
                    <button title="Add an offer" mat-icon-button routerLink="/offers/new-offer" *ngIf="(stateSS.session$ | async)?.user?.role === 'recruiter'">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    
                    <button title="Add an offer" mat-icon-button routerLink="/session" *ngIf="!((stateSS.session$ | async)?.token !== '')">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-toolbar>
            </div>
            <div
                class="list-body"
                cdkDropList
                id="backlog"
                #backlogList="cdkDropList"
                [cdkDropListData]="backlogList$ | async"
                [cdkDropListConnectedTo]="[acceptedList, technicianCheckedList, videoSetList, inProgressList, readyList, backlogList]"
                (cdkDropListDropped)="dropCard($event)"
            >
                <div
                    class="drag-box"
                    *ngFor="let offer of backlogList$ | async; trackBy: getIdTrackFn"
                    cdkDrag
                >
                    <mat-card>
                        <div class="handle" cdkDragHandle>
                            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                <path d="M0 0h24v24H0z" fill="none"></path>
                            </svg>
                        </div>
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{ offer.title }}</mat-card-title>
                            <mat-card-subtitle>Salary: {{ offer.salary }} <a title="Increase salary 25" (click)="increaseSalary(offer)" style="cursor: pointer"> ⬆️</a></mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Recruiter: @{{ offer.recruiterAssigned?.email }} <img src="assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.recruiterAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-content>
                            <p>
                                Worker: @{{ offer.workerAssigned?.email }} <img src="/assets/images/verified_badge.svg" title="Verified account" alt="Verified account" style="padding-left: 2px; height: 20px; width: 20px" *ngIf="offer.workerAssigned?.verified!">
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button routerLink="/offers/offer-detail/{{offer._id}}">DETAIL</button>
                            <button mat-button [matMenuTriggerFor]="menuDelete"
                                *ngIf="((stateSS.session$ | async)?.user?._id === offer.recruiterAssigned?._id) || ((stateSS.session$ | async)?.user?._id === offer.workerAssigned?._id) || ((stateSS.session$ | async)?.user?.role === 'admin')"
                            >
                                DELETE
                            </button>
                            <mat-menu #menuDelete="matMenu" yPosition="above">
                                <button mat-button (click)="deleteOffer(offer)" color="warn">DELETE</button>
                            </mat-menu>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</main>