$tool-bar-heigth: 64px; // TODO: llevar a variables globales
$app-padding: 12px;

.mat-drawer-container {
  height: calc(100vh - #{$tool-bar-heigth});
}

.mat-drawer-content {
  padding: $app-padding;
}

.mat-drawer {
  padding: $app-padding;
  width: calc(144px + 12px * 2);
  button {
    width: calc(100% - 8px);
    margin-left: 4px;
  }
}

.sidenav-content {
  height: calc(100vh - #{$tool-bar-heigth});
}