<mat-drawer-container [hasBackdrop]="(stateSS.userInterface$ | async)?.smallScreen" autosize>
    <mat-drawer #sidenav [mode]="(stateSS.userInterface$ | async)?.smallScreen ? 'over' : 'side'" [opened]="!(stateSS.userInterface$ | async)?.coreSidenavClosed">
        <nav>
            <div *ngIf="(stateSS.userInterface$ | async)?.smallScreen; else buttonsWithoutToggleMenu" (click)="sidenavToggle()">
                <p><button mat-raised-button routerLink="/board">Board</button></p>
                <p><button mat-raised-button routerLink="/users">Users</button></p>
                <p><button mat-raised-button routerLink="/help">Help</button></p>
                <p><button mat-raised-button routerLink="/project">The project</button></p>
                <p routerLink="/terms-of-service" class="bottomLink">Terms of service</p>
            </div>
    
            <ng-template #buttonsWithoutToggleMenu>
                <p><button mat-raised-button routerLink="/board">Board</button></p>
                <p><button mat-raised-button routerLink="/users">Users</button></p>
                <p><button mat-raised-button routerLink="/help">Help</button></p>
                <p><button mat-raised-button routerLink="/project">The project</button></p>
                <p routerLink="/terms-of-service" class="bottomLink">Terms of service</p>
            </ng-template>
        </nav>
    </mat-drawer>

    <mat-drawer-content>
        <core-section class="sidenav-content"></core-section>
    </mat-drawer-content>

</mat-drawer-container>